*{
    margin: 0;
    padding: 0;
}
/* ul{
    list-style: none;
} */
a{
    text-decoration: none;
}
.container{
   width:100%;
    margin:0 auto;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: thin;
    
}
.header{
    width:100%;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: thin;
    
}
.header .logo{
    
    float: left;
    padding: 0 15px;
    
}
.header .header-nav-left{
    float:left;
overflow: hidden;
padding: 0 20px;

}
.header .header-nav-right{
    float:right;
    overflow: hidden;
   
}
.header .header-nav-left li{
    float:left;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    display: block
}
/* .header .header-nav-right .ppp{
    list-style-image: url(search.png);
} */
.header .header-nav-right li{
    float:right;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    display: block;
}
.header .header-nav-left li:hover{
color:blue;
}
.header .header-nav-right li:hover{
    color:blue; 
}
.main .sidebar-nav{
    padding:30px 10px;
 
}
.main .sidebar-nav li{
    padding:10px 15px;
    height: 20px;
    line-height: 20px;
    display: block;
}
.main .sidebar-nav li:hover{
    color:blue;
}
.sidebar {
    float: left
}
.content{
    float: right;
    
}
.main{
    overflow: hidden;
}
/* .lens{
    list-style-image: url(search.png);
} */